.navBar {
  border-bottom: 2px solid green;
  box-shadow: 0 5px 5px -5px rgba(9, 110, 0, 0.9);
  margin-bottom: 20px;
  padding: 20px 30px;
}

.navList {
  display: flex;
  gap: 20px;
}

.addionalInfo {
  position: relative;
}

.NavLink {
  color: black;
}
.NavLink.active {
  color: red;
}
